@media (max-width: 1200px) {
    .xs-visible {
        display: none;
    }
    .header {
        &__phone {
            font-size: 17px;
        }
        &__button {
            width: 155px;
        }
    }
    .promo {
        background: url(../img/bg1.jpg) left 10% center/cover no-repeat;
        &__header {
            font-size: 40px;
            line-height: 40px;
        }
        &__subheader {
            font-size: 23px;
            line-height: 23px;
        }
        &__icons {
            width: 355px;
        }
    }
    .button {
        &_main {
            margin-top: 65px;
            width: 290px;
        }
    }
    .headers {
        font-size: 28px;
    }
    .perks {
        min-height: none;
        &__icon {
            font-size: 17px;
            img {
                margin-bottom: 24px;
            }
        }
        &__descr {
            font-size: 13px;
            margin-top: 24px;
        }
    }
    .carousel {
        .prev {
            left: -40px;
        }
        .next {
            right: -40px;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        padding: 20px 0 60px 0;
    }
    .perks {
        padding: 60px 0 60px 0;
    }
    
    .consult {
        padding: 80px 0 60px 0;
        &__descr {
            margin-top: 60px;
        }
    }
    .carousel {
        .prev {
            left: -20px;
        }
        .next {
            right: -20px;
        }
    }
    .review {
        padding-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .header {
        justify-content: space-around;
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 17px;
            }
        }
        &__button {
            width: 140px;
        }
    }
    .promo {
        min-height: 600px;
        background: url(../img/bg1.jpg) left 20% center/cover no-repeat;
        &__wrapper {
            margin-top: 60px;
            align-items: center;
        }
        &__header {
            font-size: 35px;
            line-height: 35px;
        }
        &__subheader {
            margin-top: 10px;
            font-size: 20px;
            line-height: 20px;
        }
        &__icons {
            margin-top: 60px;
        }
        &__button {
            &_main {
                margin-top: 60px;
                width: 270px;
            }
        }
        &__link {
            font-size: 14px;
        }
    }
    .headers {
        font-size: 25px;
    }
    .perks {
        padding: 40px 0 60px 0;
        &__wrapper {
            margin-top: 60px;
        }
        &__items {
            justify-content: space-around;
        }
        &__icon {
            font-size: 15px;
            width: 200px;
            img {
                margin-bottom: 15px;
            }
        }
        &__descr {
            margin-top: 15px;
            font-size: 11px;
        }
    }
    .consult {
        min-height: 640px;
        padding: 60px 0 40px 25px;
    }
    .carousel {
        padding: 60px 0;
        .prev, .next {
            display: none;
        }
    }
    .catalogue {
        padding-bottom: 60px;
        &__tabs {
            margin-top: 60px;

        }
        &__content {
            justify-content: space-around;
        }
    }
    .review {
        &__wrapper { 
            margin-top: 45px;
        }
        &-item__photo {
            margin: 0 20px;
        }
        &-item__content {
            padding-right: 30px;
        }
    }
    .footer {
        &__info {
            width: 350px;
            height: 200px;
            padding: 25px 15px 25px 15px;
        }
        &__address {
            margin-bottom: 25px;
            font-size: 17px;
            line-height: 17px;
        }
        &__phone {
            margin-bottom: 25px;
            font-size: 17px;
            line-height: 17px;
        }
    }
    .modal {
        width: 350px;
        min-height: 355px;
        padding: 20px 25px 20px 25px;
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            font-size: 12px;
        }
        .error {
            margin-bottom: 10px;
        }
        label.error {
            margin-bottom: 12px;
            font-size: 14px;
        }
    }
}

@media (max-width: 575px) {
    .xs-hidden {
        display: none;
    }
    .xs-visible {
        display: inline;
    }
    .header {
        justify-content: space-around;
        &__logo {
            width: 200px;
        }
        &__phone {
            font-size: 12px;
        }
    }
    .button {
        width: 110px;
        height: 25px;
        font-size: 10px;
        &_main {
            margin-top: 45px;
            width: 250px;
            height: 40px;
            font-size: 15px;
        }
        &_mini {
            height: 40px;
            font-size: 12px;
        }
    }
    .promo {
        min-height: 425px;
        padding: 20px 0 40px 0;
        background: url(../img/bg1.jpg) left 25% (center/cover) no-repeat;
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            font-size: 20px;
            line-height: 20px;
        }
        &__subheader {
            margin-top: 0;
            font-size: 12px;
            line-height: 12px;
        }
        &__icons {
            margin-top: 40px;
            width: 255px;
        }
        &__icon {
            font-size: 10px;
            img {
                margin-bottom: 10px;
            }
        }
        &__link {
            margin-top: 10px;
            font-size: 13px;
        }
    }
    .headers {
        font-size: 20px;
    }
    .perks {
        padding: 40px 0 40px 0;
        &__wrapper {
            margin-top: 0;
        }
        &__items {
            display: block;
            margin: 0 auto;
            margin-top: 20px;
        }
        &__icon {
            width: 250px;
        }
    }
    .consult {
        min-height: 485px;
        padding: 40px 0 40px 20px;
        &__descr {
            font-size: 14px;
            margin-top: 40px;
        }
        
    }
    .feed-form {
        width: 250px;
        margin-top: 20px;
        input {
            height: 40px;
            padding: 0 12px;
        }
    }
    .button {
        &_submit {
            width: 100%;
            height: 50px;
            font-size: 14px;
        }
    }
    .carousel {
        padding: 40px 0;
        img {
            width: 300px;
        }
    }
    .catalogue {
        padding-bottom: 40px;
        &__tabs {
            margin-top: 40px;
        }
        &__tab {
            width: 85px;
            height: 35px;
            line-height: 35px;
            font-size: 9px;
        }
        &__content {
            margin-top: 40px;
        }
    }
    .review {
        padding-bottom: 40px;
        &-item {
            margin: 35px 20px;
            &__photo {
                display: none;
            }
            &__name {
                font-size: 16px;
            }
            &__count {
                font-size: 12px;
            }
            &__content {
                font-size: 13px;
                margin-top: 15px;
            }
        }
    }
    .footer {
        &__info {
            width: 320px;
            height: 150px;
            padding: 15px 10px 15px 10px;
        }
        &__address {
            margin-bottom: 20px;
            font-size: 15px;
            line-height: 15px;
        }
        &__phone {
            margin-bottom: 20px;
            font-size: 15px;
            line-height: 15px;
        }
        &__social-item {
            width: 45px;
            height: 45px;
            img {
                height: 20px;
            }
        }
    }
    .modal {
        width: 300px;
        min-height: 300px;
        padding: 20px 25px 20px 25px;
        &__close {
            position: absolute;
            top: -40px;
            right: 0px;
            font-size: 30px;
            line-height: 30px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            font-size: 12px;
        }
        .error {
            margin-bottom: 10px;
        }
        label.error {
            margin-bottom: 12px;
            font-size: 14px;
        }
    }
}