@import "base/variables";
@import "base/mixins";


* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/perks';
@import 'blocks/consult';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalogue';
@import 'blocks/review';
@import 'blocks/footer';
@import 'blocks/modal';


.headers {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #0d0d0d;
    &_left {
        color: #fff;
        font-size: 36px;
        text-align: left;
        line-height: 36px;    
    }
}

@import 'base/media';